.product-item {
	text-align: center;
	.product-content {
		border: 1px solid $light-green;
		border-top: none;
		padding: 1rem;
		margin-bottom: 3rem;
	}
	.product-slider-container {
		border: 1px solid $medium-green;
		.slick-slider {
			margin-bottom: 0;
		}
		.slick-prev {
			left: 1rem;
	    	z-index: 500;
		}
		.slick-next {
			right: 1rem;
		}
	}

}