#page-recipes {
	h4 {
		color: $dark-green;
	}
	p {
		color: $medium-green;
	}
}

#page-recipes, #single-recipe {
	hr {
		border-bottom: 1px solid $light-green;
		width: 75%;
		text-align: center;
	}
}