#page-id-6 {
  width: 100%;
  height: 100%;
}

.home-slider-container {
	height: rem-calc(300);
	overflow-y: hidden;
	position: relative;
	@include breakpoint (medium only) {
		height: rem-calc(500);
	}
	@include breakpoint (large) {
		height: 100vh;
	}
	.slider-caption {
		position: absolute;
		z-index: 1;
		color: $white;
		background: rgba(105, 129, 58, 0.7);
		padding: 1em;
		font-family: $trocchi;
		font-size: 1.2rem;
		@include breakpoint (medium only) {
			font-size: 1.5rem;
		}
		@include breakpoint (large) {
			font-size: 2rem;
		}
	}
	.top {
		left: 0;
		top: 2rem;
		@include breakpoint (medium only) {
			top: 10rem;
		}
		@include breakpoint (large) {
			top: 12rem;
		}
	}

	.bottom {
		right: 0;
		bottom: 2rem;
		@include breakpoint (medium only) {
			bottom: 6rem;
		}
		@include breakpoint (large) {
			bottom: 12rem;
		}
	}
	.arrow {
	  position: absolute;
	  color: rgba(255,255,255, 0.8);
	  bottom: 1.5rem;
	  left: 50%;
	}
}

.home-slider {
	margin-bottom: 0;
	.slick-slide {
		img {
			width: 100%;
			min-height: rem-calc(300);
			@include breakpoint (medium only) {
				min-height: rem-calc(500);
			}
			@include breakpoint (large) {
				max-height: 100%;
				min-height: 100vh;
				position:relative;
				overflow-y:hidden;
			}
		}
	}
}

.home-content {
	background-image: url(../images/bg-tile-brown-paper.png);
	background-repeat: repeat;
	padding: 2rem 1rem;
	@include breakpoint (medium) {
		padding: 3rem 1.5rem;
		font-size: 1.1rem;
	}
	@include breakpoint (large) {
		padding:  4.5rem 2rem;
	}
	color: $white;
	text-align: center;
}