.sub-bg {
      position: fixed;
      top: 50%;
      left: 50%;
			bottom: 0;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      background-size: cover;
      transition: 1s opacity;
}

.sub-page {
	// background-repeat: no-repeat;
	// background-size: cover;
	// @include breakpoint(large) {
	// 	background-attachment: fixed;
	// 	background-position: center center;
	// }
	// &:before {
	// 	@include filter(blur, 5px);
	// }
	header {
		text-align: center;
		margin: 1rem 0;
		@include breakpoint(medium) {
			margin: 2rem 0;
		}
		h1 {
		    color: $white;
		    text-shadow: 0px 2px 2px $dark-green;
		}
	}
	.main-content {
		margin-top: 1em;
		@include breakpoint(medium only) {
			padding: 4em 1em;
		}
		@include breakpoint(large) {
			margin-top: 2em;
			padding: 5em 2em;
		}

	}
	.sub-content {
	    background: rgba(255,255,255, 0.8);
	    color: $dark-green;
	    padding: 0.8rem;
	    margin: 0.85rem 0.75rem 1.5rem 0.75rem;
	    @include breakpoint(medium) {
	   		margin: 1em 1.5em;
	   		padding: 1.2em;
	   	}
	    @include breakpoint(large) {
	    	padding: 2.5em;
	    	margin: 1rem 3rem;
	    }
	    img {
	    	border-radius: 2px;
	    }
	}
}

.button {
  background-color: $light-green;
  @include breakpoint (large) {
  	&:hover {
		background-color: $medium-green;
	}
  }
}

.wpcf7-submit {
	padding: 0.5rem 1.5rem;
	background-color: $medium-green;
	color: white;
	border: 1px solid $light-green;
}

#post-19 {
	@include breakpoint (small only) {
		h3 {
			text-align: center;
		}
		.about-left, .about-right {
			display: block;
			margin: 0.75rem auto;
		}
	}

	@include breakpoint (medium) {
	    .about-left {
	    	float: left;
	    	margin-right: 1rem;
	    }
	    .about-right {
			float: right;
			margin-left: 1rem;
	    }
	}
	img {
		@include breakpoint (small only) {
			margin: 1rem auto;
		}
	}
}
