#page-splash {
	width: 100%;
	height: 100%;
	background: url(../images/5o-bg-sub.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	img {
		margin: 3em 0 2em 0;
	}
	h3 {
		color: $light-green;
		margin-bottom: 5rem;
	}
}

.splash-links li {
	list-style-type: none;
	display: inline-block;
	.fa {
		color: $light-green;
		font-size: 1.75rem;
		margin: 0 0.5em;
		&:hover {
			color: $medium-green;
		}
	}
}