#single-recipe {
  .recipe-excerpt {
    margin-top: 1rem;
    font-size: 1.1rem;
    p {
      margin-bottom: 0;
    }
    @include breakpoint (medium) {
      margin-top: 0;
    }
    @include breakpoint(large) {
      font-size: 1.2rem;
      color: $dark-green;
    }
  }
  h5, h6 {
    color: $light-green;
    text-shadow: 0px 1px 1px $dark-green;
  }
  .recipe-portion {
    text-align: center;
    p {
      font-size: 1.3rem;
      font-weight: 700;
      color: $medium-green;
      border-top: 1px solid $light-green;
      margin-top: 1rem;
      padding-top: 1rem;
    }
  }
  .recipe-content {
    padding: 0.5rem;
    margin: 0.5rem;
    @include breakpoint(small only) {
      font-size: 0.9rem;
    }
    @include breakpoint(medium) {
      border: 1px solid $light-green;
       padding: 1.5rem;
    }
    @include breakpoint(large) {
      padding: 2rem;
      margin: 0rem 2rem 2rem 2rem;
    }
  }
}

#single-post {
  background-image: url(../images/5o-bg-sub.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  @include breakpoint(large) {
    background-attachment: fixed;
    background-position: center center;
  }

  .ai1ec-contact-url, .ai1ec-recurrence, .ai1ec-event-footer {
    display: none;
  }
  .ai1ec-single-event {
    color: $medium-green;
  }
  .ai1ec-single-event .ai1ec-field-label {
    color: $dark-green;
  }
  .ai1ec-btn-default {
    color: $dark-green !important;
  }
}
