//Parallax Sections

.parallax-container {
    @include parallax-init;
    overflow: hidden;
}
.parallax {
    width: 100%;
    height: 200px;
    position: relative;
    @include breakpoint(medium) {
        height: 350px;
        flex: 1;
        display: flex;
    }
    .image {
        background-position: 50% 50% !important;
        background-size: cover;
        width: 100%;
        height: 200px;
        @include breakpoint(medium) {
            background-attachment: fixed;
            height: 350px;
            position: absolute;
        }
        z-index: 500;
    }
}

.section-1 {
    @include breakpoint(medium) {
        @include parallax(-.3);
    }
    .px-slide-1 {
        background-image: url(../images/5o-main-bg-3.jpg);
    }
}

.section-2 {
    @include breakpoint(medium) {
        @include parallax(-.3);
    }
  .px-slide-2 {
        background-image: url(../images/bg-peppers.jpg);
    }
}