.home-calendar-section {
	padding: 2rem 1rem;
	@include breakpoint (medium) {
		padding: 3rem 0;
	}
	background-color: $medium-green;
	.home-calendar-content {
		h2 {
			color: $white;
			text-align: center;
		}
		.ai1ec-main-container {
			.timely {
				color: $dark-green;
			}
			.ai1ec-minical-trigger i {
				color: $dark-green;
			}
			.ai1ec-calendar-title, .ai1ec-calendar-title-short {
				color: $medium-green
			}
			.ai1ec-title-buttons, .ai1ec-views-dropdown, .ai1ec-calendar-toolbar {
				display: none;
			}
			.ai1ec-fa {
				color: $light-green;
			}
			.ai1ec-posterboard-view .ai1ec-event-wrap {
				padding: 0.75rem;
			}
			.ai1ec-posterboard-view.ai1ec-posterboard-aligned .ai1ec-posterboard-image-container .ai1ec-posterboard-image {
				height: 180px;
			}
			.ai1ec-posterboard-view.ai1ec-posterboard-aligned .ai1ec-event-location {
				top: 230px;
			}
			.ai1ec-pull-left {
				float: none !important;
				text-align: center;
				.ai1ec-pagination {
					margin-top: 1rem;
				}
			}
		}
	}
}

.post-25 {
	.timely {
		color: $dark-green;
	}
	.ai1ec-calendar-toolbar {
		display: none;
	}
	.ai1ec-prev-year, .ai1ec-load-view, .ai1ec-btn, .ai1ec-btn-sm, .ai1ec-btn-default  {
		color: $dark-green;
		&:hover {
			background-color: $medium-green;
		}
	}
	.ai1ec-month-view .ai1ec-date {
		background-color: rgba(171,173,32,0.5);
	}
}
