#footer-container {
	width: 100%;
	margin: 0 auto;
	//margin-top: rem-calc(60);

	.bottom-footer {
		padding: 1rem;
		@include breakpoint(medium) {
			padding: 2em;
		}
		background-color: $light-green;
		color: $white;
		@include breakpoint(small only) {
			text-align: center;
		}
		.ft-description {
			text-align: center;
			@include breakpoint(medium) {
				text-align: left;
			}
			p {
				margin-bottom: 0;
			}
			.copy {
				font-size: 0.75em;
				a {
					color: $white;
					@include breakpoint (large) {
						&:hover {
							color: $dark-green;
						}
					}
				}
			}
		}
		.moxy {
			@include breakpoint(medium) {
				float: right;
			}
			a {
				font-family: $moxy-font;
				color: $white;
				font-size: 1.3rem;
			}
		}

	}

	.top-footer {
		padding: 1.5rem 0.75rem;
		@include breakpoint(medium) {
			padding: 3rem 2rem;
		}
		background-color: $medium-green;
		text-align: center;
		h3, h5, p {
			color: $white;
		}
		h5 {
			font-family: $cabin;
		}
		.home-featured-col {
			border-bottom: 1px solid $light-green;
			padding: 0 1.5rem 2em 1.5em;
			@include breakpoint(medium) {
				border-right: 1px solid $light-green;
				border-bottom: none;
				padding: 0 2rem;
			}
		}
		.home-connected-col {
			padding: 2em 1rem 0 1rem;
			@include breakpoint(medium) {
				padding: 0 2rem;
			}
		}
		.home-featured-img {
			width: 100%;
			@include breakpoint(medium) {
				width: 90%;
			}
			height: 150px;
			margin: 2em 0;
			border: 1px solid $light-green;
			background-size: cover;
    		background-position: center center;
		}
		.social-links {
			margin: 1.5rem 0 1em 0;
			li {
				display: inline-block;
				margin: 0 0.75em;
				.fa {
					color: $white;
					font-size: 2.5rem;
					@include breakpoint(large) {
						&:hover {
							color: lighten($light-green, 20%);
						}
					}
				}
			}
		}
	}
}

//MailChimp widget
.widget_mailchimpsf_widget {
	width: 100% !important;
	margin-top: 1.5em;
	h6 {
		color: $white;
	}
	#mc_signup {
		background-color: transparent;
	}
	.mc_form_inside {
		margin-top: 1em;
		.mc_merge_var {
			display: inline-block;
			width: 70%;
			float: left;
			.mc_var_label {
				display: none;
			}
			[type='text'] {
				border: 1px solid white;
			}
		}
		.mc_signup_submit {
			display: inline-block;
			width: 30%;
			float: right;
			#mc_signup_submit {
				width: 100%;
				margin-top: 0;
				padding: 0.78rem;
				border: none;
				@include breakpoint (large) {
					&:hover {
						background-color: $brown !important;
					}
				}
			}
		}
	}

}