/* ==========================================================================
    MOBILE TOP BAR
   ========================================================================== */

.mobile-top-bar {
    background: white;
    padding: 1em 0;
    .mobile-nav-icon {
        position: absolute;
        top: 2rem;
        left: 0.8rem;
        a {
            i {
                color: $medium-green;
                font-size: 1.9rem;
                padding: 0.5rem;
            }
        }
        .fa {
            display: inline-block;
        }
    }

    .mobile-nav-logo {
        width: 30%;
        @include breakpoint(small only) {
            width: 45%;
        }
        margin: 0 auto;
        display: block;
    }

    .mobile-nav {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 9999;
        overflow: auto;
        background: rgba($dark-green, 0.9);
        i.close {
            position: absolute;
            top: 2.8rem;
            left: 1.2rem;
            color: white;
            font-size: 1.9rem;
            &:hover {
                cursor: pointer;
            }
        }

        .mobile-nav-links {
            ul {
                float: none !important;
                list-style: none;
                margin: 4rem 0 0 0;
            }
            li {
                display: block;
                text-align: center;
                &.active {
                    a {
                        color: white;
                    }
                }
            }
            a {
                color: $white;
                text-transform: uppercase;
                font-family: $cabin;
                font-weight: 900;
                font-size: 1.75rem;
                line-height: 2.75rem;
            }
        }
    }
}

.menu .active > a {
    background: transparent;
}

@include breakpoint(medium only) {
    .mobile-nav-icon {
        top: 3.5rem;
    }
    .mobile-nav {
        i.close {
            top: 3.7rem;
        }
        .mobile-nav-logo {
            width: 354px;
        }
    }
}