.mobile-top-bar {
  @include hide-for(medium);
}

.main-navigation {
  @include show-for(medium);
}

#site-navigation {
  background: rgba(255,255,255, 0.8);
  text-align: center;
  position: absolute;
  width: 100%;
  top:0;
  left: 0;
  z-index: 1;
  padding: 0.5em 0;
  .top-bar-menu {
    li {
      display: inline-block;
      list-style-type: none;
      padding: 0 2em;
      margin-top: 2.5em;
      a {
        font-family: $trocchi;
        color: $medium-green;
        @include breakpoint(large) {
          &:hover {
            color: $dark-green;
          }
        }
      }
    }
  }
  img {
    width: 80%;
  }
}

.top-bar ul {
  background-color: transparent;
}

#menu-left {
  float: right;
}

#menu-right {
  float: left;
}